fastapi
uvicorn
gunicorn

pydantic
pydantic_core
annotated_types

anyio
sniffio

aiohttp

starlette
typing_extensions
click
h11
httptools
uvloop
watchfiles
websockets
pyyaml

python-dateutil
pytz
tzdata
six

numexpr
bottleneck

transformers
torch
torchvision
torchaudio

scikit-learn
pandas
numpy

python-multipart
jinja2
python-dotenv
aiofiles
accelerate
sentencepiece
requests

setuptools
wheel
